$font-family-sans-serif:'Nunito', sans-serif;
$font-family-unique-display: 'Amatic SC';
$color-area-1:#f27360;
$color-area-2:#9aaaba;
$color-area-3:#6e6f71;
$color-area-4:#485868;
$color-area-5:#f8c8d4;
$color-area-6:#b096bc;
$color-area-7:#9fc2bb;
$color-area-8:#f5a46c;
$color-extra:#f3c766;
$color-white:#fdfcfc;

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family-sans-serif;
    line-height: 1.5em;
    height: 100%;
    background:$color-area-5;
    background: radial-gradient(circle, $color-white, $color-white, $color-area-5);
}

.navbar {
    padding-left: 3em;
    padding-right: 3em;
}

.navbar-brand {
    font-family: $font-family-unique-display;
    font-size: 48px;
}

.C-main-wrapper{
      padding: 1em 2em;
    //   height: 100%;
}

section.left-output-area {
    margin: 2em 1em 2em 3em;
    padding: 2em 2em;
    background-color: $color-white;
    border: 1px solid $color-area-2;
    border-radius: 1em;
    // display: block;
    width: 30%;
    height: 75%;
    position: fixed;
    z-index: 1;
    display: block;
    left: 0;
    // overflow-x: hidden;
}

.display-realtime {
    object-fit: contain;
}

section.park-map-grid {
    // margin: 2em 3em 2em 6em;
    
    padding: 2em 2em 1em 2em;
    height: 80%;
    width: 65%;
    position: fixed;
    right: 0;
    min-width: 40%;
    overflow-x: hidden;
}

// #park-map {
//     background-image: url("images/UniConeland-map.png"); background-image: no-repeatx;
//     width: 10px;
//     height: auto;
//     background-size: 300px 100px;
//     object-fit: contain;
// }

div.col {
    width:200px;
    height:180px; 
}

div.col-sm-9{
    max-height: 1em;
}

.display-font {
      font-family: $font-family-unique-display;
}