$font-family-sans-serif:'Nunito', sans-serif;
$font-family-unique-display: 'Amatic SC';
$color-area-1:rgb(242, 115, 96);
$color-area-2:rgb(154, 170, 186);
$color-area-3:rgb(243, 199, 102);
$color-area-4:rgb(72, 88, 104);
$color-area-5:rgb(248, 200, 212);
$color-area-6:rgb(176, 150, 188);
$color-area-7:rgb(245, 164, 108);
$color-area-8:rgb(159, 194, 187);
$color-gray:rgb(110, 111, 113);
$color-white:rgb(253, 252, 252);

/***** Bootstrap styles  ********/

$grid-columns:      12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

/***** Main element styles  ********/
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: $font-family-sans-serif;
    line-height: 1.5em;
    background:$color-area-5;
    background: radial-gradient(circle, $color-white, $color-white, $color-area-5);
}
ul,
li {
  padding: 0;
  margin: .75em;
  font-size: 12px;
  line-height: 1em;
}

/***** Text element styles ********/
.display-font {
    font-family: $font-family-unique-display;
}

h1.special-motto {
  font-size: 1.2em;
  line-height: 1em;
  color: $color-area-8;
}


/***** Navbar fixed top area  ********/

.navbar {
    padding: 1em 3em 1em 3em ;
}

.navbar-brand {
    font-family: $font-family-unique-display;
    font-size: 48px;
}

.dropdown {
    z-index: 1000;
}

/***** Main content area  ********/

.C-main-wrapper{
    max-width:100%;
    margin: 6em 3em;
    // padding: 5em 1em 1em 1em;
    height: 70%;
    
}

/***** Left output area ********/

section.left-output-area {
    margin: 1em 1em 0em 0em;
    background-color: $color-white;
    border: 1px solid $color-area-2;
    border-radius: 1em;
    width: 30%;
    height: 70%;
    position: fixed;
    z-index: 1;
    float: right;
    overflow-x: hidden;
}

.section-wrapper {
    padding: 2em;
    overflow: scroll;
}

// styling for results div created from attractions JS //

div.card-header {
word-wrap: break-word;
}

#accordion h5{
    font-size: 1.2em;
    line-height: 1.3em;
    font-family: $font-family-sans-serif;
    font-weight: bolder;
}

#accordion p {
    font-size: 1em;
    line-height: 1.3em;
}
/*** styling for events dropdown menu on time of events *****/
#accordion {
    font-size: 12px;
    line-height: 14px;
    border: solid 1px $color-white;
}

/*** styling for output content *****/


/***** RIght map area ********/

section.park-map-area {
    margin-top: 6em;
    // margin-left:4em;
    // margin-right: 2em;
    // padding-left: 2em;
    position: fixed;
    object-fit: contain;
    right: 2em;
    width: 60%;
    height:600px;
    // top: 95px;
    top: 1.2em;
}

img {
    align-content: center;
    width: 60%;
    height:83%;
    background-image:no-repeat;
    background-image:fixed;
    background-image:center;
    object-fit: cover;
    position: fixed;
    right: 2em;
    top: 20px;
    z-index: -1;
    padding-top: 6em;
    // padding-left: 2em;
    padding-right: 1em;
}

.container {
    // width: 100%;
    padding-right: 2em;
    max-height: 600px;
    max-width: 100%;
    
}

div.col {
    width: 100% !important;
    height: 100% !important;
    color: $color-white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.842);
    text-align: center;
    margin: auto;
    align-items: center;
    position: relative;
    padding: 4.45em 2em;
    object-fit: contain;
    z-index: 100 !important;
    // flex-wrap:nowrap;
    border: 2 solid $color-white; 
}

// grid map area with links

a:hover.col + div {
    border: 2 solid $color-white;
}

#map-area-1 {
    background: rgba(242, 115, 96, 0.5);
}
// #map-area-1 a:hover,
// #map-area-1 a:active {
//     background: rgba(242, 115, 96, 0.9);
//     outline-style: solid;
//     outline-color: $color-white;
// } 

#map-area-2 {
    background: rgba(154, 170, 186, 0.5);
}
// #map-area-2 a:hover,
// #map-area-2 a:active {
//     background: rgba(154, 170, 186, 0.9);
//     outline-style: solid;
//     outline-color: $color-white;
// } 

#map-area-3 {
    background-color: rgba(243, 199, 102, 0.5);
}
#map-area-4 {
    background-color:rgba(72, 88, 104, 0.5);
}
#map-area-5 {
    background-color: rgba(248, 200, 212, 0.5);
}
#map-area-6 {
    background-color: rgba(176, 150, 188, 0.5)
}
#map-area-7 {
   background-color:rgba(245, 164, 108, 0.5)
}
#map-area-8 {
    background-color: rgba(159, 194, 187, 0.5);
}


/***** I live here in the footer bottom area *****/
footer {
    text-align: center;
    font-size: .5em;
    line-height: .5em;
}

.fixed-bottom {
    padding-bottom: 2em !important;
}
p.uppercase {
    font-weight:bolder;
}

footer p.display-font {
    font-size: 1em;
}

